// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin-left: 20px;
}
a {
  text-decoration: none;
}
.letter {
  display: inline-block;
  box-sizing: border-box;
  background-color: #0d6efd;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  line-height: 0px;
  font-weight: bold;
  padding: 25px 20px;
  margin: 10px;
}
#btn_play-again a {
  color: #fff !important;
}